/* Landing.css */

.landing-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 9rem;
}

.landing-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.landing-subtext {
  color: #6c757d;
  font-size: 1.1rem;
  line-height: 1.7;
}

.profile-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.profile-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 0.25rem;
  z-index: 2;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-bg {
  background-color: #82a8de3c;
  width: 350px;
  height: 350px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
}
